body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.3) url('gaming.jpg');
    background-blend-mode: darken;
    background-size: cover;
}

nav{
    box-sizing: border-box;
    border: 2px solid rgb(245, 15, 249);
    background-color: #fff;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

nav h2{
    margin-left: 11px;
    cursor: pointer;
    color: #000;
}

nav h2 span{
    font-style: italic;
    color: rgb(245, 15, 249);
}

nav ul{
    flex: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    padding: 4px;
}

nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: #000;
    transition: 2s;

}

nav ul li a:hover{
    box-shadow: 0 5px 20px rgb(245, 15, 249) inset, 0 5px 20px rgb(245, 15, 249) inset,
    0 5px 20px rgb(245, 15, 249) inset,0 5px 20px rgb(245, 15, 249) inset;
}

nav .btn{
    color: #000;
    text-decoration: none;
    margin-right: 25px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(245, 15, 249);   
}

.content{
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    color: #fff;
    font-size: 30px;
}

.content p{
    font-size: 25px;
}

.play{
    position: absolute;
    margin-left: 16%;
    margin-top: 31%;
    font-size: 25px;
}

.play a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(245, 15, 249);
    padding: 10px;
    border: 2px solid #000;
}

.card{
    position: absolute;
    left: 56%;
    top: 28%;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    filter: grayscale(100%);
}

.card img{
    object-fit: cover;
    height: 100%;
}

.card:hover{
    background-color: rgb(245, 15, 249);
    filter: grayscale(0);
}

.card:hover.card img{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.4);
}